{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "babel-plugin-transform-export-extensions",
    "transform-es2015-modules-commonjs","transform-es2015-destructuring", "transform-object-rest-spread"
  ],
  "ignore": [
    "node_modules/"
  ]
}
